<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post">
        <input type="submit" value="Yeah">
        <a value="Nope" asp-action="Index">Nah fam</a>
    </form>
</div>
</body>
</html>