@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <tr class="table-secondary">
        <th>Name </th>
        <th>Count </th>
        <th>Category </th>
        <th>Note </th>
    </tr>
    <tr>
        <td>Burger buns </td>
        <td>2 bags </td>
        <td>Foodstuffs </td>
        <td> </td>
    </tr>
    <tr>
        <td>Burger patty </td>
        <td>24 </td>
        <td>Foodstuffs </td>
        <td> </td>
    </tr>
    <tr>
        <td>Ketchup </td>
        <td>2 bottles </td>
        <td>Foodstuffs </td>
        <td> </td>
    </tr>
    <tr>
        <td>Burger buns </td>
        <td>2 bags </td>
        <td>Foodstuffs </td>
        <td> </td>
    </tr>
</table>